@font-face{
    font-family: Marker;
    src: url(text/PermanentMarker-Regular.ttf);
}

div {
    font-family: Marker;
    background-color: white;
    color: black;
    font-size: 14px;
    padding: 2px;
    
    
}

#big_div img{
    width: 140px;
}



#big_div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
   
 }

 img {
     width: 150px;
     height: 75px;
 }
 
 .items:hover {
     background-color: pink;
     opacity: 0.5;
 }

 a {
     width: 10%;
     text-align: center;
     text-decoration: none;
 }

 .text{
     font-family: Marker;
     color: white;
     background-color: rgb(243, 63, 63);
     font-size: 14px;
 }

 .blue{
     background-color: #003268;
     font-family: Marker;
     font-size: 14px;
     color: white;
 }

 .gold{
    background-color: #b8860b;
    font-family: Marker;
    font-size: 14px;
    color: white;
}

.focus{
  background-color: #fd8888; 
  border-top: black; 
  margin-right: 50px;
  border: 2px solid black;
  font-size: 12px;
  color: white;
  ;
}


.gold hr{
    border-color:black;
}